

body{
	background-color: #f2f2f2;
}


.button1{
	background-color: lightblue;
	text-align: center;
	color: black;
	height: 50px;
	width: 80px; 

}




.tweet {
	display: none;
	width: 500px;
	
	border: 1px lightgrey solid;
	background-color: white;
}

#picture img{
	width: 60px;
	height: 60px;
	margin-right: 5px;
	border-radius: 6px;
	padding-left: 5px;
	padding-top: 5px;
}

#content{
	padding: 10px;
	font-size: 1.1em;
	font-family: sans-serif;

}

input{
	
	float: right;
	margin-top: 100px;
	width: 300px;
	margin-right: 0px;
	transform: rotate(270deg);

}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 300px;
    height:15px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}


/*.meter{
	
	background-color: red;
	float: right;
	margin-right: 100px;
	width: 20px;
	height: 300px;



}*/



.emotions{
	display: none;
	float:left;
	margin-left: 60px;


}


.emotions img{
	height: 50px;
	width: 50px;
	
}

.emotions button{
	cursor: pointer;
	height: 70px;
	width: 70px;
	padding: 10px;
	border-radius: 6px;
}


.happy{
	background-color:  #009999;
}

.happy:hover{
	background-color: #00e6e6;
}


.neutral{
	background-color: #8db14e;
	
}

.neutral:hover{
	background-color: #73e600;
}

.mad{
	background-color: orange;

}

.mad:hover{
	background-color: gold;
}


.angry{
	background-color:  #b62f2f;

}

.angry:hover{
	background-color:  #ff3333;
}

.companies{
	margin-top: 50px;
	margin-left: 30px;
	font-size: 1em;
}

.companies button{
	color: white;
	height: 50px;
	width: 80px;
	border-radius: 6px;
	font-size: 13px;
}

.companies button:hover{
	cursor: pointer;

}


.button2{
	background-color:  #b62f2f;
}

.button2:hover{
	background-color:  #ff3333;
}

.button3{
	background-color: black;
}

.button3:hover{
	background-color: #cccccc;
	
}

.button4{
	background-color:  #009999;

}

.button4:hover{
	background-color: #00e6e6;
}

.button5{
	background-color: #8db14e;
}

.button5:hover{
	background-color: #73e600;
}


.button6{
	background-color: orange;

}

.button6:hover{
	background-color: gold;
}

.companies #p1{
	
	
}

